<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941265241614-sgtpr99v6k85pskgm5g70vjtgljt9tpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941265241614-sgtpr99v6k85pskgm5g70vjtgljt9tpi</string>
	<key>API_KEY</key>
	<string>AIzaSyDcJUFiVEtXGnn7ByDvyUNXWtoBnc7fevA</string>
	<key>GCM_SENDER_ID</key>
	<string>941265241614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-56426</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-56426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941265241614:ios:8ef7578ab735215a705e5f</string>
</dict>
</plist>